@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Обнуление стилей*/
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: width 0.5s, height 0.5s ease-in-out;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    max-width: 1526px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Хедер*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
}

.head {
    display: flex;
    align-items: center;
    margin: 13px 0 12px 0;
    max-width: 1140px;
    width: 100%;
}

.logo {
    width: 88.59px;
    height: 34px;
}

.ham {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line_ham {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #7C5C0A;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 100 180;
}
.ham8 .middle {
    stroke-dasharray: 100 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.ham8 .bottom {
    stroke-dasharray: 100 185;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
    stroke-dashoffset: -174px;
}
.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}
.ham8.active .bottom {
    stroke-dashoffset: -174px;
}

nav {
    max-width: 533px;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    li {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        display: inline-flex;
        a {
            color: #2e2401;
        }
        a {
            &:hover {
                color: #2e2401;
            }
            &:active {
                color: #2e2401;
            }
        }
    }
    li:nth-child(2) a {
        &:hover {
            color: #2e2401;
        }
        &:active {
            color: #664f02;
        }
    }
}

.entry {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #573e0d;
    letter-spacing: 0.005em;
    width: 78.65px;
    height: 21.23px;
    margin: 0 98.35px 0 34.41px;
    border: 1px solid #d3c546;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.contact {
    display: flex;
    margin-left: 37px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #836a10;
        &:first-child {
            font-size: 11px;
            margin-right: 5px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
        }
        &:last-child {
            font-size: 12px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
        }
    }
}

/* Основное тело */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content_title {
    background: url(../img/Фон.png);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1526px;
    height: 652px;
}

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    position: relative;
}

.text {
    align-self: baseline;
    margin-left: 0;
    font-size: 20px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    width: 350px;
    color: #2e2401;
}

.cours {
    align-self: baseline;
    margin-top: 4px;
    font-family: Microsoft YaHei;
    font-style: normal;
    font-weight: bold;
    font-weight: 900;
    max-width: 1058px;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            font-size: 33px;
            display: inline-flex;
            color: #2e2401;
        }
    }
}

.text_2 {
    margin: 35px auto 27px 0;
    font-size: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    color: #2e2401;
}

#button_curs {
    border: none;
    background: linear-gradient(189.03deg, #2d3fe2 9.57%, #071169 95.91%);
    box-shadow: 0px 11px 21px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    color: #fffdf8;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    width: 319.57px;
    height: 59px;
    margin: 27px auto 63px 0;
    font-size: 17px;
    &:hover {
        background: linear-gradient(189.03deg, #6474ff 9.57%, #041ae1 95.91%);
        box-shadow: 0px 11px 21px rgba(0, 0, 0, 0.25);
    }
    &:active {
        background: linear-gradient(189.03deg, #071695 9.57%, #071169 95.91%);
        box-shadow: 0px 11px 21px rgba(0, 0, 0, 0.25);
    }
}

.adres {
    align-self: baseline;
    width: 399px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    span {
        font-size: 13px;
        line-height: 16px;
        color: #2e2401;
    }
    div {
        width: 194px;
        height: 31px;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-flex;
                width: 32px;
                height: 30px;
            }
        }
    }
}

.main_icon {
    width: 480px;
    height: 396px;
    position: absolute;
    left: 665px;
    top: 391px;
    /* margin-bottom: -135px; */
}

.content_name {
    margin: 68px auto 19px 0;
    max-width: 1030px;
    font-size: 90px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    line-height: 87.6px;
    color: #ffffff;
}

.test {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 76px auto 55px auto;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        span:first-child {
            width: 730px;
            height: 66px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #2e2401;
            margin-bottom: 29px;
        }
        span:last-child {
            width: 730px;
            height: 24px;
            font-size: 15px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            color: #492f10;
            text-align: center;
        }
    }
}

#test {
    text-align: center;
    background: linear-gradient(157.95deg, #fff500 2.32%, #ffd600 73.49%);
    border-radius: 11px;
    width: 250px;
    height: 52px;
    font-size: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    border: none;
    color: #2e2401;
    // margin: 20px auto 53px auto;
    &:hover {
        background: linear-gradient(157.95deg, #fff854 2.32%, #fff623 73.49%);
        box-shadow: 0px 1px 1px #bb9d01;
    }
    &:active {
        background: linear-gradient(180deg, #ffc700 0%, #ffd600 100%);
    }
}

.test_button_test {
    margin: 16px auto 53px auto;
}

.itec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 55px auto 109px auto;
    width: 100%;
    div:nth-child(4) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.rectangle {
    width: 65px;
    height: 4px;
    background: #2e2401;
    margin: 0 auto 5px 0;
}

.itec_title {
    font-size: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 73px;
    color: #2e2401;
    width: 860px;
    height: 73px;
}

.text_3 {
    display: flex;
    span {
        font-size: 16px;
        line-height: 190%;
        color: #493b08;
    }
}

.itec_img {
    width: 317.5px;
    height: 300px;
    margin: 14px 158px auto 160px;
}

.content_format {
    background: url(../img/Rectangle_11.svg);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1526px;
    height: 512px;
}

.rectangle_white {
    width: 65px;
    height: 4px;
    background: #fffdf3;
    margin: 25px auto 7px 0;
}

.format_title {
    align-self: baseline;
    font-size: 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    color: #fffdf3;
    width: 822px;
    height: 55px;
    margin-bottom: 18px;
}

.format_text {
    align-self: baseline;
    width: 285px;
    height: 29px;
    font-size: 17px;
    line-height: 21px;
    color: #fffdf3;
}

.text_3,
.format_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
}

.left_title {
    width: 540px;
    margin: 30px 0 24px 0;
}

.right_title {
    width: 475px;
    margin: 30px 0 24px 0;
}

.format_type {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    max-width: 900px;
    width: 100%;
    margin-top: 35px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        span {
            width: 180px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #ffffff;
            margin-top: 20px;
        }
    }
}

.format_type_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 178px;
    background: linear-gradient(180deg, #497ce0 0%, #001641 100%);
    box-shadow: 0px 5px 5px #162660;
    border-radius: 34px;
    img {
        width: 45px;
        height: 45px;
        margin: 36px 0 19px 0;
    }
    .format_type_img_span {
        font-size: 23px;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 900;
        color: #fffdee;
        line-height: 28px;
        letter-spacing: 0.025em;
        text-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        margin-bottom: 44px;
    }
}

.vibor {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 86px 95px 155px auto;
    span {
        width: 730px;
        height: 49px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: #2e2401;
        margin-bottom: 82px;
    }
    span:nth-child(2){
        display: none;
    }
}

.fon {
    display: flex;
    max-width: 892px;
    width: 100%;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.left_block,
.rigth_block {
    justify-content: space-between;
    height: 417px;
    // height: 100%;
    div {
        span {
            width: 290px;
            height: 43px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #2e2401;
            margin-bottom: 0;
            margin-top: 20px;
        }
        .span_bot {
            height: 24px;
        }
    }
}

.line {
    background: radial-gradient(
        44.69% 44.69% at 50% 50%,
        #246cd8 0%,
        #173996 100%
    );
    border-radius: 38px;
    width: 2px;
    height: 211px;
}

.dostup {
    width: 110px;
    height: 95px;
}

.oplata {
    width: 80px;
    height: 95px;
}

.mosk {
    width: 70px;
    height: 95px;
}

.bonus {
    width: 70px;
    height: 80px;
    margin-bottom: 18px;
}

.line {
    margin-top: calc(174px - 82px);
}

.fon_min{
    display: none;
}

.container_put {
    display: flex;
    flex-direction: column;
    max-width: 1038px;
    width: 100%;
    height: 716.57px;
    margin-bottom: 85.53px;
}

.put_title {
    width: 560px;
    height: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #2e2401;
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.step_1 {
    display: flex;
    align-items: flex-end;
    margin-right: 31px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.step_2 {
    display: flex;
    align-items: center;
    margin-right: 51px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
}

.step_3 {
    display: flex;
    align-items: flex-start;
    margin-top: -30px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.put_num {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    width: 34px;
    height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(29, 22, 0, 0.56);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 26px;
}

.put_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: rgba(46, 36, 1, 0.85);
}

.conteiner_nht_cours {
    max-width: 1262.95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nth_cours {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2e2401;
}

.cours_type {
    display: flex;
    margin: 74px 0 56px 0;
    justify-content: space-evenly;
    width: 96%;
    .nth_cours_block {
        width: 285px;
        height: 400px;
        background: linear-gradient(180deg, #4c7dfb 0%, #001d69 100%);
        box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        box-shadow: inset 3px 5px 15px rgba(147, 177, 235, 0.73);
        // filter: drop-shadow(-3px -3px 16px rgba(10, 41, 124, 0.13)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 19px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #ffffff;
            // margin: 39px auto 28px auto;
        }

        .nth_cours_img {
            width: 130px;
            height: 153px;
            // margin-top: 56px;
            // border: 2px solid transparent;
            // border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, #F2F6FF 100%);
            filter: drop-shadow(0px 25px 29px rgba(0, 0, 0, 0.25));
            // border-radius: 3px;
            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                bottom: 3px;
                right: 3px;
                background: linear-gradient(180deg, #3f6ce0 0%, #20439d 100%);
                z-index: -1;
                border-radius: 3px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.01) 0%,
                    #f2f6ff 100%
                );
                z-index: -2;
                border-radius: 3px;
            }
            img {
                width: 98%;
                height: 98%;
                margin-left: 2px;
            }
        }
    }
}

.nth_cours_name {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 1px;
    width: 283px;
    height: 93px;
    font-family: Gadugi, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nth_cours_name_min {
    display: none;
}

.desc {
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0);
    width: 200px;
    height: 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.all_cours {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #2e2401;
}

.all_cours_hide {
    display: none;
    width: 290px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #2e2401;
}


// .slider_main{
//     width: 710px;
// }

.conteiner_help {
    max-width: 1526px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.arrow_down {
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        width: 59px;
        height: 36px;
        img {
            width: 100%;
            height: 100%;
        }
        &:nth-child(2) {
            margin: auto 262px 9px 262px;
        }
    }
}

.help_block {
    background: url(../img/helper/backgroung_helper.svg) no-repeat content-box;
    width: auto;
    height: 406px;
}

.content_help {
    margin: 39px 357px 0 273px;
    width: 896px;
    display: flex;
    flex-direction: column;
}

.help_text_1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #f1f4ff;
    width: 160px;
    height: 22px;
    margin-bottom: 17px;
}

.help_text_2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #eff4ff;
    width: 319px;
    height: 27px;
    margin-left: 61px;
    margin-bottom: 25px;
}

.help_text_3 {
    display: flex;
    align-self: flex-end;
    width: 771px;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.help_text_4 {
    width: 410px;
    height: 46px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;
    /* or 24px */
    text-align: center;
    color: #ffffff;
    display: flex;
    align-self: center;
    margin-bottom: 41px;
}

.test_button {
    margin: 0 auto 57px auto;
}

.conteiner_teacher {
    width: 1104px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 36px 218px 0 204px;
}

.rectangle_teacher {
    margin-top: 74px;
}

.text_title_teacher {
    width: 590px;
    height: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #2e2401;
}

.text_teacher {
    width: 558px;
    height: 119px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 170%;
    /* or 29px */
    color: #493b08;
}

.teacher_img_conteiner {
    width: 910px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 48px;
}

.div_img_info {
    display: flex;
    flex-direction: column;
}

.img_teacher {
    width: 210px;
    height: 315px;
    img {
        width: 100%;
        height: 100%;
    }
}

.teacher_name {
    width: 210px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #493b08;
    margin-top: 23px;
}

.teacher_profil {
    width: 210px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #2e2401;
    margin-top: 7px;
}

.teacher_staj {
    width: 210px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #2e2401;
    margin-top: 3px;
}

.conteiner_faq {
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 93px 0 auto 206px;
}

.title_text_faq {
    width: 790px;
    height: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #2e2401;
    margin-top: 5px;
}

.conteiner_faq_info {
    display: flex;
    justify-content: space-between;
}

.block_text_faq {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 473px;
    height: 338px;
    margin: 35px auto auto 0;
}

.block_text_faq_min{
    display: none;
}

.text_faq {
    width: 473px;
    // height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #100d00;
    // margin-bottom: 31px;
}

.faq_primary {
    // width: 448px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #716f69;
}

.faq_second {
    // height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #0b0800;
    // margin-bottom: 30px;
}

.faq_info {
    display: flex;
    position: relative;
    margin: 99px 0 auto auto;
    background: linear-gradient(90deg, #112e7c 8.8%, #497ce0 100%);
    box-shadow: 0px 2px 3px #00040f;
    width: 683px;
    height: 220px;
    // justify-content: center;
    align-items: center;
    span {
        width: 395px;
        height: 143px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 190%;
        /* or 28px */
        color: #f8f8fa;
        margin-left: 95px;
    }
}

.rectangle_faq_absolut {
    position: absolute;
    width: 60px;
    height: 150px;
    left: 30px;
    top: -42px;
    background: #fff500;
    // transform: rotate(-90deg);
}

.last_block_ura {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 338px;
    margin-top: 56px;
    position: relative;
    margin-bottom: 79px;
    &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        right: 1px;
        background: #ffffff;
        z-index: -1;
        border-radius: 5px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #ffc700 0%, #f3db00 100%);
        z-index: -2;
        border-radius: 5px;
    }
}

.voprosy {
    width: 349px;
    height: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #2e2401;
    margin-top: 20px;
}

.pishite {
    width: 200px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2e2401;
    margin-top: 4px;
}

.contacts_last {
    display: flex;
    flex-direction: column;
    margin: 33px 160px 47px 196px;
    width: 343px;
}

.phones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.phones_number {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
    span {
        width: 197px;
        height: 31px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: #2e2401;
    }
}

.phone_text {
    width: 70px;
    height: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #2e2401;
}

.contacts {
}

.emails {
    display: flex;
    justify-content: space-between;
    &:first-child {
        // width: 74px;
        height: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #2e2401;
    }
    .email {
        width: 214px;
        height: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #2e2401;
    }
}

.telegrams {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    span {
        height: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #2e2401;
    }
    .telega {
        width: 214px;
        height: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #2e2401;
    }
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_ection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #082a85 0%, #082165 100%);
}

.footer_main {
    // width: 100%;
    display: flex;
}

.footer_consult_block {
    display: flex;
    flex-direction: column;
    width: 428px;
    margin: 19px auto 21px 208px;
    span {
        width: 380px;
        height: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        text-transform: uppercase;
        color: #dee4ee;
        // margin-left: 48px;
        margin-bottom: 24px;
    }
    form {
        display: flex;
        flex-direction: column;
        input[type="text"] {
            width: 255px;
            height: 35px;
            background: #fcfbf7;
            border-radius: 5px;
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            // color: #D0D0D0;
            margin: 0 auto 12px 0;
        }
        #phone_footer {
            text-transform: uppercase;
        }
        button {
            width: 255px;
            height: 42.95px;
            background: linear-gradient(180deg, #5194f6 0%, #0757cd 100%);
            border: none;
            border-radius: 10px;
            margin: 9px auto 21px 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.015em;
            color: #ffffff;
            &:hover {
                background: linear-gradient(180deg, #77aeff 0%, #3f8cff 100%);
            }
            &:active {
                background: linear-gradient(180deg, #1556b7 0%, #0757cd 100%);
            }
        }
    }
}

.footer_logo {
    width: 78px;
    height: 30px;
    // margin: 0 auto 0 48px;
}

.footer_logo_min{
    display: none;
}

.footer_info_block {
    display: flex;
    justify-content: space-between;
    margin: 59px auto 68px 0;
    width: 410px;
}

.info_column,
.info_column_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        width: 125px;
        height: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #dee4ee;
    }
}

.info_column_2 {
    a {
        width: 190px;
        height: 15px;
    }
}

.footer_contacts {
    width: 185px;
    display: flex;
    flex-direction: column;
    margin: auto 208px 17px auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 112px;
    margin-bottom: 22px;
}

.icon {
    width: 28px;
    height: 27px;
    img {
        width: 100%;
        height: 100%;
    }
}

.location_footer {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 24px;
    span {
        width: 185px;
        height: 21px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: right;
        color: #dee4ee;
    }
    a {
        width: 162px;
        height: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        text-decoration-line: underline;
        color: #dee4ee;
        margin-top: 2px;
    }
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 42px;
    span {
        width: 160px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-align: right;
        color: #dee4ee;
    }
}

.footer_last_block {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #01094e;
    span {
        width: 410px;
        height: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #f4f6fd;
        margin: 7px auto 8px auto;
    }
}

/*Адаптив, ну или чтото на него похожее*/

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .head {
        max-width: 945px;
        position: relative;
        margin: 6px auto;
    }

    .entry {
        order: 1;
        margin-left: 129px;
        margin-right: 0;
    }

    .logo {
        width: 98px;
        height: 39px;
        margin-right: 157px;
    }

    .entry {
        width: 80px;
        height: 23px;
        font-size: 15px;
        line-height: 18px;
    }

    .contact {
        position: absolute;
        top: 63px;
        right: 7px;
        z-index: 2;
        flex-direction: column;
        align-items: flex-end;
        div {
            &:first-child {
                width: 204px;
                align-items: flex-end;
                margin-right: 0;
                margin-bottom: 5px;
                span {
                    height: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: right;
                    color: #393400;
                }
            }
            &:last-child {
                width: 163px;
                align-items: flex-end;
                span {
                    height: 17px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: right;
                    letter-spacing: 0.005em;
                    color: #fff6d5;
                }
            }
        }
    }

    nav {
        max-width: 481px;
    }

    /*main*/

    .content_title {
        height: auto;
    }

    .container {
        max-width: 931px;
    }

    .content_name {
        font-size: 80px;
    }

    .text {
        margin: 29px auto 0 0;
    }

    .cours {
        margin-top: 0;
        max-width: 869px;
        ul {
            li {
                font-size: 27px;
            }
        }
    }

    .text_2 {
        margin-top: 43px;
        margin-bottom: 22px;
    }

    #button_curs {
        width: 270px;
        height: 55px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .adres {
        margin-bottom: 31px;
        span {
            color: #5f4e15;
        }
        div {
            position: absolute;
            top: 99px;
            right: 0;
        }
    }

    .main_icon {
        width: 350px;
        height: 280px;
        top: 400px;
        right: 1px;
        left: auto;
    }

    /*Блок с кнопкой*/

    .test_button_test {
        font-size: 22px;
    }

    #test {
        font-size: 22px;
    }

    /*Блок в правильным выбором*/

    .itec {
        margin: 21px auto 71px auto;
        max-width: 930px;
    }

    .rectangle {
        display: none;
    }

    .itec_title {
        font-size: 50px;
        width: 851px;
        height: 67px;
    }

    .left_title {
        width: 640px;
        margin: 21px 0 0 0;
    }

    .right_title {
        width: 480px;
        margin: 50px 0 0 0;
    }

    .itec_img {
        margin: 28px auto 23px 120px;
        width: 200px;
        height: 200px;
    }

    /*Блок про три формы обучения*/

    .rectangle_white {
        display: none;
    }

    .format_title {
        width: 770px;
        height: 57px;
        font-size: 40px;
        line-height: 49px;
        margin-top: 29px;
        margin-bottom: 5px;
    }

    .format_text {
        width: 299px;
        height: 29px;
    }

    .format_type {
        max-width: 810px;
        div {
            span {
                width: 162px;
                margin-top: 18.5px;
            }
        }
    }

    .format_type_img {
        width: 162px;
        height: 165px;
        img {
            width: 40px;
            height: 42px;
            margin: 33px auto 0 auto;
        }
    }

    .format_type_img_span {
        margin-bottom: 41px;
        margin-top: 17.5px;
    }

    /*Блок про выбор ITEC*/

    .vibor {
        max-width: 620px;
        margin: 86px 0 98px 0;
        span {
            width: 620px;
            height: 46px;
            margin-bottom: 54px;
            text-transform: none;
        }
    }

    .left_block,
    .rigth_block {
        height: 352px;
        div {
            span {
                width: 235px;
                height: 49px;
                text-transform: none;
            }
            .span_bot {
                height: 21px;
                margin-top: 23px;
            }
        }
    }

    .fon {
        .line {
            display: none;
        }
    }

    .dostup {
        width: 82px;
        height: 82px;
    }

    .oplata {
        width: 74;
        height: 82px;
    }

    .mosk {
        width: 65px;
        height: 82px;
    }

    .bonus {
        width: 82px;
        height: 82px;
        margin-bottom: 1px;
    }

    /*Скрытый блок*/

    .container_put {
        display: none;
    }

    /*Ближайшие курсы*/

    .conteiner_nht_cours {
        max-width: 840px;
    }

    .nth_cours {
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
    }

    .cours_type {
        margin: 42px 0 55px 0;
        .nth_cours_block {
            width: 245px;
            height: 307px;
        }
    }

    .nth_cours_name {
        width: 245px;
        height: 69px;
        font-size: 27px;
        line-height: 36px;
        top: 63px;
    }

    .nth_cours_name_min {
        display: none;
    }

    .all_cours {
        display: none;
    }

    .all_cours_hide {
        display: block;
    }

    .cours_type {
        .nth_cours_block {
            span {
                font-size: 17px;
                line-height: 21px;
                letter-spacing: 0.05em;
                margin: 44.65px auto;
            }
            .nth_cours_img {
                width: 114.6px;
                height: 146.52px;
                margin-top: 48.84px;
            }
        }
    }

    .desc {
        display: none;
    }

    

    // .slider_main{
    //     width: 100%;
    // }

    .conteiner_help {
        display: none;
    }

    .conteiner_teacher {
        max-width: 905px;
        margin: 0 72px 0 47px;
    }

    .text_title_teacher {
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.02em;
    }

    .text_teacher {
        width: 560px;
        height: 128px;
        font-size: 18px;
        line-height: 180%;
        margin-top: 25px;
    }

    .teacher_img_conteiner {
        margin-top: 52px;
    }

    .img_teacher {
        width: 200px;
        height: 300px;
    }

    .teacher_profil {
        margin-top: 5px;
    }

    .teacher_staj {
        margin-top: 5px;
    }

    .conteiner_faq {
        max-width: 977px;
        margin: 64px 0 auto 47px;
        margin-bottom: 51px;
    }

    .text_faq {
        width: 450px;
        font-size: 20px;
        line-height: 26px;
        color: #2e2401;
    }

    .faq_primary {
        color: #716f69;
    }

    .faq_second {
        font-weight: normal;
    }

    .faq_info {
        max-width: 497px;
        height: 229px;
        span {
            width: 397px;
            height: 197px;
            margin-left: 68px;
            font-size: 17px;
            line-height: 180%;
        }
    }

    .rectangle_faq_absolut {
        width: 25px;
        height: 85px;
        left: 25px;
        top: -19px;
    }

    /*Место для кучи стилей*/

    .last_block_ura {
        display: none;
    }

    /*Футер*/

    .footer_ection {
    }

    .footer_main {
        max-width: 930px;
        flex-wrap: wrap;
    }

    .footer_consult_block {
        margin: 27px auto auto 0;
        max-height: 260px;
        span {
            margin-left: 0;
            width: 361px;
            height: 16px;
        }
        form {
            height: 153px;

            input[type="text"] {
                width: 290px;
                height: 42px;
                font-size: 17px;
                line-height: 21px;
                margin: auto auto 11px 0;
            }
            button {
                width: 290px;
                height: 44px;
                margin: 3px auto 0 0;
            }
        }
    }

    .footer_logo {
        width: 127px;
        height: 47px;
        margin: 20px auto 0 0;
    }

    .footer_info_block {
        height: 230px;
        max-width: 480px;
        width: 100%;
        margin: 67px 0 auto auto;
    }

    .info_column {
        width: 180px;
        height: 206px;
        a {
            width: 180px;
        }
    }

    .info_column_2 {
        a {
            width: 240px;
        }
    }

    .info_column a,
    .info_column_2 a {
        font-size: 17px;
        line-height: 21px;
    }

    .footer_contacts {
        margin-left: 0;
        margin-top: 20.8px;
        margin-bottom: auto;
        width: auto;
    }

    .icons {
        align-self: baseline;
        width: 118px;
        margin-bottom: 14.52px;
    }

    .icon {
        width: 29.54px;
        height: 28.48px;
    }

    .wrapper_footer {
        display: flex;
        justify-content: space-between;
    }

    .location_footer {
        align-items: baseline;
        width: 235px;
        margin-right: 5px;
        margin-bottom: 10px;
        span {
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #dee4ee;
        }
        a {
            text-align: left;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            color: #dee4ee;
        }
    }

    .numbers {
        align-items: baseline;
        span {
            width: 135px;
            height: 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.005em;
            color: #dee4ee;
            text-align: left;
        }
    }

    .footer_last_block {
        font-size: 13px;
    }
}
